<header>
    <div style="margin-left: 8px;" id="google_translate_element"></div>
    <nav class="header-nav">
    <div class="form-row">
        <a class="header-title profile-button tooltip" href="/files"><i class="fas fa-home-user"></i>
            <span class="tooltiptext">Home</span>
        </a>
        <%- include('../partials/user') %>
        <br>
        <a class="header-title profile-button tooltip" href="/files/books/favourites"><i class="fas fa-heart"></i>
            <span class="tooltiptext">Favourite Books</span>
        </a>
        <a class="header-title profile-button tooltip" href="/files/books/dailyBooks"><i class="fas fa-book"></i>
            <span class="tooltiptext">Daily Read Books</span>
        </a>
        <button type="button" onclick="toggleTheme()" class="theme-toggle tooltip theme-button">
            <i class = "fas"></i>
            <span class="tooltiptext">Toggle Theme</span>
        </button>
    </div>
    <ul>
       
        <li><a href="/files/authors">authors</a></li>
        <li><a href="/files/authors/new">add author</a></li>
        <li><a href="/files/books">books</a></li>
        <li><a href="/files/books/new">add book</a></li>
    </ul>
</nav>
</header>
