<header>
    <nav>
    <a href="/">mybrary</a>
    <ul>
        <li><a href="/authors">authors</a></li>
        <li><a href="/authors/new">add author</a></li>
        <li><a href="/books">books</a></li>
        <li><a href="/books/new">add book</a></li>
    </ul>
</nav>
</header>