<header>
    <nav class="header-nav">
    <a class="header-title" href="/files">mybrary</a>
    <ul>
        <div>
            <form action="/toggleTheme" method="post">
                <button class = "btn btn-primary" type="submit">Change theme</button>
            </form> 
        </div>
        <li><a href="/files/authors">authors</a></li>
        <li><a href="/files/authors/new">add author</a></li>
        <li><a href="/files/books">books</a></li>
        <li><a href="/files/books/new">add book</a></li>
    </ul>
</nav>
</header>