<header>
    <nav class="header-nav">
    <a class="header-title" href="/files">mybrary</a>
    <ul>
        <li><a href="/files/authors">authors</a></li>
        <li><a href="/files/authors/new">add author</a></li>
        <li><a href="/files/books">books</a></li>
        <li><a href="/files/books/new">add book</a></li>
    </ul>
</nav>
</header>