<header>
    <div style="margin-left: 8px;" id="google_translate_element"></div>
    <nav class="header-nav">
    <div class="form-row">
        <a class="header-title profile-button" href="/files"><i class="fas fa-home-user"></i></a>
        <%- include('../partials/user') %>
        <br>
        <button type="button" onclick="toggleTheme()" class="theme-toggle" id="theme-button">
            <i class = "fas"></i>
        </button>
    </div>
    <ul>
        <li><a href="/files/authors">authors</a></li>
        <li><a href="/files/authors/new">add author</a></li>
        <li><a href="/files/books">books</a></li>
        <li><a href="/files/books/new">add book</a></li>
    </ul>
</nav>
</header>
