<nav class="header-nav" style="justify-content: flex-end;">
    <form action="/logout" method="post">
    <ul>
        <li><a class = "btn" href="user/<%= url %>">profile</a></li>
        <li><button class = "btn btn-danger" type="submit">logout</button></li>
    </ul>
</form>
</nav>