<div>
    <form action="/logout" method="post">
        <a class = "btn btn-primary" href="user/<%= url %>">profile</a>
        <button class = "btn btn-danger" type="submit">logout</button>
    </form> 
</div>