DATABASE_URL="mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000"
SUPPRESS_NO_CONFIG_WARNING = 'y'
USER_EMAIL="test@gmail.com"
PASSWORD="gmail app password"
BASE_URL="http://localhost:3000"
JWT_SECRET ="provide your secret"
JWT_EXPIRES_IN=1000000
SESSION_SECRET="provide your secret"