<label>User Name</label>
<input type="text" name= "username" value="<%= user.username %>" required>
<label>Email</label>
<input type="email" name= "email" value="<%= user.email %>" required>
<label>Password</label>
<input type="password" name= "name" value="<%= user.password %>" required>
