<div class="form-row">
    <div class="form-item">
        <label>Old Password</label>
        <input type="password" name= "oldpassword" id="myInput1" required> 
    </div>
    <div class="form-item">
        <label>New Password</label>
        <input type="password" name= "newpassword" id="myInput2" required>
    </div>
    <div class="form-item">
        <label>Confirm New Password</label>
        <input type="password" name= "confirmpassword" id="myInput3" required>
    </div>
</div>
    <input type="checkbox" onclick="myFunction()">Show Passwords
    <br/>

<script>
    function myFunction() {
      var x = document.getElementById("myInput1");
      var y = document.getElementById("myInput2");
      var z = document.getElementById("myInput3");
      if (x.type === "password") {
        x.type = "text";
        y.type = "text";
        z.type = "text";
      } else {
        x.type = "password";
        y.type = "password";
        z.type = "password";
      }
    }
</script>