<div class="form-row">
    <div class="form-item">
        <label for="username">User Name</label>
        <input type="text" name= "name" value="<%= user.username %>" required id="username">
    </div>
</div>
<div class="form-row">
    <div class="form-item form-item-no-grow" onclick="dpUpdate()">
      <label for="profile-cover">Profile Picture</label>
      <input type="file" name="cover" class="book-cover filepond" id="profile-cover">
    </div>
</div>
