<h2 class="page-header">Edit User</h2>
<form action="/user/<%= user.id %>?_method=PUT" method="POST">
    <%- include('_form_fields_user' , {user: user}) %>
    <br>
    <a class="btn btn-danger" href="/user/">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
</form>
