<h2 class="page-header">Update Password</h2>
<form action="/user/editPassword/<%= user.id %>?_method=PUT" method="POST">
    <%- include('_form_fields_password') %>
    <a href="/user/<%= user.id %>">Cancel</a>
    <button type="submit">Update</button>
</form>
