<h2 class="page-header">Edit User</h2>
<form action="/user/<%= user.id %>?_method=PUT" method="POST">
    <%- include('_form_fields_user' , {user: user}) %>
    <br>
    <div class="form-row form-row-end">
        <a class="btn btn-danger" id="cancelButton">Cancel</a>
        <button class="btn btn-primary" type="submit" id="saveButton">Update</button>
    </div>
</form>

<script>
    var initialUserName = document.getElementById('username').value;

    // Add an event listener to the cancel button to display the alert when clicked
    document.getElementById('cancelButton').addEventListener('click', function() {
        var currentUserName = document.getElementById('username').value;
        if (currentUserName !== initialUserName) {
            var shouldCancel = confirm('Are you sure you want to cancel? Any unsaved changes will be lost.');
            if (shouldCancel) {
                window.location.href = '/user/';
            }
        } else {
            window.location.href = '/user/';
        }
    });
</script>