@import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/form.css';
@import 'shared/author.css';
@import 'shared/books.css';

:root {
  font-family: 'Gotham Rounded';
  font-size: 20px;
  color: var(--color-text-light);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
}

.inner-container {
  margin: 0 2rem;
}

.page-header {
  font-size: 2rem;
  font-weight: 500;
}

.error-message {
  color: hsl(var(--color-danger-hue), 100%, 50%);
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards-container::after {
  content: "";
  flex: auto;
  justify-content: space-between;
  width: 10em;
}
.card {
  width: 12%;
  margin-bottom: 20px;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: rgb(164, 220, 247);
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(249, 247, 247, 0.943);
}

.container {
  padding: 2px 16px;
}
img {
  width: 100%;
  height: 50%;
}