@import 'shared/variables.css';
@import 'shared/pagination.css';
@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/form.css';
@import 'shared/author.css';
@import 'shared/books.css';

:root {
  font-family: 'Gotham Rounded';
  font-size: 20px;
  color: var(--color-text-light);
}

*, *::before, *::after {
  box-sizing: border-box;
}
body{
  background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}

.page-header {
  font-size: 2rem;
  font-weight: 500;
}

.title-header {
  font-size: 1.5rem;
  font-weight: 500;
}

.error-message {
  color: hsl(var(--color-danger-hue), 100%, 50%);
}

.dashboard-details{
  text-decoration: none;
  color: var(--color-text-light);
  font-weight: 500;
  padding: 0.5rem;
  font-size: 1rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}
.cards-container::after {
  content: "";
  flex: auto;
  justify-content: space-between;
}
.card {
  overflow: hidden;
  width: 150px;
  height: 300px;
  margin: 10px;
  text-align: left;
  box-shadow: 0 4px 8px 0 var(--color-text-light);
  transition: 0.3s;
  background-color: var(--color-background-light);
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 var(--color-text-light);;
}

.container {
  padding: 2px 16px;
}
.card img {
  width: 100%;
  height: 50%;
}

.card a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-background-light);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-text-light);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color-background-light);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-text-light);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.description {
background-color: var(--color-background-dark);
margin: 2px;
border: var(--color-text-dark);
padding: 10px;
border-radius: 10px;
border-style: double;
font-size: 0.75rem;
}


/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-text-dark);
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--color-background-dark);
}

/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
