 body {
     margin: 0;
     padding: 0;
     overflow: hidden;
     perspective: 1000px;
     background-color: #111;
 }

 #background {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     transform-style: preserve-3d;
     z-index: -1;
 }

 .cube {
     position: absolute;
     width: 100%;
     height: 100%;
     transform-style: preserve-3d;
     animation: spin 10s linear infinite;
 }
 .div-animation {
    margin-left: 20%;
    position: relative;
    width: 100%;
    height: 100%;
    animation: slidein 1s linear;
}
 .cube div {
     position: absolute;
     width: 100%;
     height: 100%;
     background: linear-gradient(to bottom right, #ff8c00db, #690a32);
     opacity: 0.7;
     border: 1px solid #fff;
 }

 .cube div:nth-child(1) {
     transform: translateZ(-100px);
 }

 .cube div:nth-child(2) {
     transform: rotateY(90deg) translateZ(-100px);
 }

 .cube div:nth-child(3) {
     transform: rotateY(180deg) translateZ(-100px);
 }

 .cube div:nth-child(4) {
     transform: rotateY(270deg) translateZ(-100px);
 }

 .cube div:nth-child(5) {
     transform: rotateX(90deg) translateZ(-100px);
 }

 .cube div:nth-child(6) {
     transform: rotateX(-90deg) translateZ(-100px);
 }

 @keyframes spin {
     0% {
         transform: rotateX(0deg) rotateY(0deg);
     }

     100% {
         transform: rotateX(360deg) rotateY(360deg);
     }
 }
 @keyframes slidein {
    0% {
      transform: translateY(100%);
    }
  
    100% {
      transform: translateY(0%);
    }
  }