<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  </head>
  <header>
    <nav class="header-nav">
    <div class="form-row">
      <a class="header-title" href="/"><i class="fas fa-home-user"></i></a>
      <br>
      <button type="button" onclick="toggleTheme()" class="theme-toggle" id="theme-button">
          <i class = "fas"></i>
      </button>
      <div style="margin-left: 20px;" id="google_translate_element"></div>
    </div>
    
  
    <ul>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
    </ul>
</nav>
</header>
  <body>
    <script defer src="/javascripts/toggle.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
    function googleTranslateElementInit() {
    new google.translate.TranslateElement( 'google_translate_element');
    }
    </script>
    
    <div class="center-form" >
      <h3>Forgot Password Page</h3>
      <div style="color: red;">
        <% if(err != null) {%>
          <%= err%>
        <% }%>
      </div>
      <div style="color: black;">
        <% if(msg != null) {%>
          <%= msg%>
        <% }%>
      </div>
      <form action="/forgotPassword" method="POST">
        <div class="form-row">
          <div class="form-item">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter Email" required/>
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <button class = "btn btn-primary" type="submit">Send Reset Link</button>
          </div>
        </div>
      </form>
  </div>
  </body>
</html>