<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Login</title>
  </head>
  <body>
    <div class="center-form" >
      <h3>Forgot Password Page</h3>
      <div style="color: red;">
        <% if(err != null) {%>
          <%= err%>
        <% }%>
      </div>
      <div style="color: black;">
        <% if(msg != null) {%>
          <%= msg%>
        <% }%>
      </div>
      <form action="/forgotPassword" method="POST">
        <div class="form-row">
          <div class="form-item">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Enter Email" required/>
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <div class="btn-group">
              <button class = "btn btn-primary" type="submit">Send Reset Link</button>
              <a class = "btn btn-primary" href="/signup">Signup</a>
              <a class = "btn btn-primary" href="/login">Login</a>
              <a class = "btn btn-primary" href="/">Welcome Page</a>
            </div>
          </div>
        </div>
      </form>
  </div>
  </body>
</html>