<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/welcomePage.css">
    <title>Login</title>
    <style>
      .login-form {
        width: 400px;
        height: 400px;
        padding: 20px;
        margin: 1rem auto;
        border-radius: 10px;
        background: linear-gradient(to bottom, rgb(76, 33, 33), rgb(178, 212, 178));
}
      .input-group {
        width: 100%;
      }
      .input-group label {
        display: block;
      }
      .input-group input {
        width: 100%;
        background-color: antiquewhite;
        border-radius: 10px;
      }
      button {
        padding: 10px 17px;
        margin-top: 1rem;
        font-size: 1rem;
        background: #f0afaf;
        border: 1px solid #333;
        cursor: pointer;
      }
      .scroll {
    overflow: auto; 
}
    </style>
  </head>
  <script>
    function myFunction() {
      var x = document.getElementById("myInput");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    </script>
  <body class="scroll">
      
      <div class="login-form" >
        
        <h3>Login Page</h3>
        <div style="color: red;">
          <% if(err != null) {%>
            <%= err%>
        <% }%>
        </div>
        <div style="color: black;">
          <% if(msg != null) {%>
            <%= msg%>
        <% }%>
        </div>
        <form action="/login" method="POST">
          <div class="input-group">
          <label for="email">Email:</label>
          <input type="email" name="email" placeholder="Enter Email" required/>
        </div>
        <div class="input-group">
          <label for="password">Password:</label>
          <input type="password" name="password" id="myInput" placeholder="Enter Password" required/>
        </div>
        <input type="checkbox" onclick="myFunction()">Show Password
        <br/>
        <input type="checkbox" name="rememberme" >Remember Me
        <br/>
        <button class = "btn btn-primary" type="submit">Login</button>
      </form>
      <br/>
      <a class = "btn btn-primary" href="/signup">Signup</a>
      <br/>
      <br/>
      <a href="/forgotPassword">Forgot Password</a>
  </div>
  </body>
  </html>