<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  </head>
  <header>
    <nav class="header-nav">
    <div class="form-row">
      <a class="header-title tooltip" href="/"><i class="fas fa-home-user"></i>
        <span class="tooltiptext">Welcome page</span>
      </a>
      <br>
      <button type="button" onclick="toggleTheme()" class="theme-toggle theme-button">
          <i class = "fas"></i>
      </button>
      <div style="margin-left: 20px;" id="google_translate_element"></div>
    </div>
    <ul>
        <li><a href="/signup">Signup</a></li>
    </ul>
</nav>
</header>
  <body>
    <script defer src="/javascripts/toggle.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
    function googleTranslateElementInit() {
    new google.translate.TranslateElement( 'google_translate_element');
    }
    window.onload = googleTranslateElementInit;
    </script>
    <div class="center-form">
      <h2>Login</h2>
      <div class="error-message">
        <% if(err !=null) {%>
          <%= err%>
          <br>
          <br>
            <% }%>
      </div>
      <div style="color: var(--color-text-light);">
        <% if(msg !=null) {%>
          <%= msg%>
          <br>
          <br>
            <% }%>
      </div>
      <a href="/auth/google/get" class="btn btn-primary" style="border-radius: 0%; ">
        <i class="fab fa-google"> </i> Continue With Google
      </a>
      <br>
      <br>
      <hr>
      <form action="/login" method="POST">
        <div class="form-row">
          <div class="form-item">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter Email" required autocomplete="on"/>
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label for="myInput">Password:</label>
            <input type="password" name="password" id="myInput" placeholder="Enter Password" required autocomplete="on"/>
          </div>
        </div>
        <div class="form-row">
          <div class="inline-check-box">
            <label for="showPassword">Show Password</label>
            <input type="checkbox" id="showPassword" name="showPassword" onclick="myFunction()">
          </div>
        </div>
        <div class="form-row">
          <div class="inline-check-box">
            <label for="rememberme">Remember me</label>
            <input type="checkbox" name="rememberme" id="rememberme">
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <div>
              <button class="btn btn-primary" type="submit">Login</button>
            </div>
            <div>
              <% if(isPending) { %>
                <br>
                <a href="/resendVerificationEmail/<%= resendEmail %>" class="btn btn-primary">Resend Verification Email</a>
              <% } %>
            </div>
            <br>
            <a style="color:  var(--color-text-light);" href="/forgotPassword">Forgot Password</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>

<script>
  function myFunction() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>