<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/welcomePage.css">
    <title>Login</title>
    <style>
      .login-form {
        width: 400px;
        height: 400px;
        padding: 20px;
        margin: 1rem auto;
        border-radius: 10px;
        background: linear-gradient(to bottom, rgb(76, 33, 33), rgb(178, 212, 178));
}
      .input-group {
        width: 100%;
      }
      .input-group label {
        display: block;
      }
      .input-group input {
        width: 100%;
        background-color: antiquewhite;
        border-radius: 10px;
      }
      button {
        padding: 10px 17px;
        margin-top: 1rem;
        font-size: 1rem;
        background: #f0afaf;
        border: 1px solid #333;
        cursor: pointer;
      }
      .scroll {
    overflow: auto; 
}
    </style>
  </head>
  <script>
    function myFunction() {
      var x = document.getElementById("myInput1");
      var y = document.getElementById("myInput2");
      if (x.type === "password") {
        x.type = "text";
        y.type = "text";
      } else {
        x.type = "password";
        y.type = "password";
      }
    }
</script>
  <body class="scroll">
      
      <div class="login-form" >
        
        <h3>Reset Password Page</h3>
        <div style="color: red;">
          <% if(err != null) {%>
            <%= err%>
        <% }%>
        </div>
        <form action="/resetPassword/<%= confirmationCode %>?_method=PUT" method="POST">
          <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="myInput1" required/>
          </div>
          <div class="input-group">
            <label for="password">Confirm Password:</label>
            <input type="password" name="confirmpassword" id="myInput2" required/>
          </div>
          <input type="checkbox" onclick="myFunction()">Show Password
          <br/>
        <button class = "btn btn-primary" type="submit">Reset Password</button>
      </form>
      <br/>
      <a class = "btn btn-primary" href="/signup">Signup</a>
      <br/>
      <br/>
      <a class = "btn btn-primary" href="/login">Login</a>
      <br/>
      <br/>
      <a class = "btn btn-primary" href="/">welcomePage</a>
  </div>
  </body>
  </html>