<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Login</title>
  </head>
  <script>
    function myFunction() {
      var x = document.getElementById("myInput1");
      var y = document.getElementById("myInput2");
      if (x.type === "password") {
        x.type = "text";
        y.type = "text";
      } else {
        x.type = "password";
        y.type = "password";
      }
    }
  </script>
  <body>
    <div class="center-form" >
      <h3>Reset Password Page</h3>
      <div style="color: red;">
        <% if(err != null) {%>
          <%= err%>
        <% }%>
      </div>
      <form action="/resetPassword/<%= confirmationCode %>?_method=PUT" method="POST">
        <div class="form-row">
          <div class="form-item">
            <label for="myInput1">Password:</label>
            <input type="password" name="password" id="myInput1" required/>
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label for="password">Confirm Password:</label>
            <input type="password" name="confirmpassword" id="myInput2" required/>
          </div>
        </div>
        <div class="form-row">
          <div class="inline-check-box">
            <label for="showPassword">Show Password</label>
            <input name="showPassword" type="checkbox" id="showPassword" onclick="myFunction()">
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <div class="btn-group">
              <button class = "btn btn-primary" type="submit">Reset Password</button>
              <a class = "btn btn-primary" href="/signup">Signup</a>
              <a class = "btn btn-primary" href="/login">Login</a>
              <a class = "btn btn-primary" href="/">Welcome Page</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>