<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  </head>
  <header>
    <nav class="header-nav">
    <div class="form-row">
      <a class="header-title" href="/"><i class="fas fa-home-user"></i></a>
      <br>
      <button type="button" onclick="toggleTheme()" class="theme-toggle" id="theme-button">
          <i class = "fas"></i>
      </button>
    </div>
    <ul>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
    </ul>
</nav>
</header>
  <body>
    <script defer src="/javascripts/theme.js"></script>
    <div class="center-form" >
      <h3>Reset Password Page</h3>
      <div style="color: red;">
        <% if(err != null) {%>
          <%= err%>
        <% }%>
      </div>
      <form action="/resetPassword/<%= confirmationCode %>?_method=PUT" method="POST">
        <div class="form-row">
          <div class="form-item">
            <label for="myInput1">Password:</label>
            <input type="password" name="password" id="myInput1" required/>
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label for="password">Confirm Password:</label>
            <input type="password" name="confirmpassword" id="myInput2" required/>
          </div>
        </div>
        <div class="form-row">
          <div class="inline-check-box">
            <label for="showPassword">Show Password</label>
            <input name="showPassword" type="checkbox" id="showPassword" onclick="myFunction()">
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <button class = "btn btn-primary" type="submit">Reset Password</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>

<script>
  function myFunction() {
    var x = document.getElementById("myInput1");
    var y = document.getElementById("myInput2");
    if (x.type === "password") {
      x.type = "text";
      y.type = "text";
    } else {
      x.type = "password";
      y.type = "password";
    }
  }
</script>