<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  </head>
  <header>
    <nav class="header-nav">
      <div class="form-row">
        <a class="header-title tooltip" href="/"><i class="fas fa-home-user"></i>
          <span class="tooltiptext">Welcome page</span>
        </a>
        <br>
        <button type="button" onclick="toggleTheme()" class="theme-toggle theme-button" >
            <i class = "fas"></i>
        </button>
        <div style="margin-left: 20px;" id="google_translate_element"></div>
      </div>
    <ul>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>
</header>
  <body>
    <script defer src="/javascripts/toggle.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
    function googleTranslateElementInit() {
    new google.translate.TranslateElement( 'google_translate_element');
    }
    window.onload = googleTranslateElementInit;
    </script>
    <div class="center-form">
      <h2>Sign Up</h2>
      <div class="error-message">
        <% if(err != null) {%>
          <%= err%>
          <br>
      <br>
        <% }%>
      </div>
      <span style="border: solid 2.3px; padding: 0.5rem 0 0.5rem 0.65rem; background-color: white; color: black;">
        <i class="fab fa-google"></i>
        <a href="/auth/google/get" class="btn btn-google" style="border-radius: 0%; margin-left: 6px;">
          Continue With Google
        </a>
      </span>
      <br>
      <br>
      <hr>
      <form action="/signup" method="POST" >
        <div class="form-row">
          <div class="form-item">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required/>
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required/>
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label for="myInput1">Password:</label>
            <input type="password" name="password" id="myInput1" required/>
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label for="myInput2">Confirm Password:</label>
            <input type="password" name="confirmpassword" id="myInput2" required/>
          </div>
        </div>
        <div class="form-row">
          <div class="inline-check-box">
            <label for="showPassword">Show Password</label>
            <input name="showPassword" type="checkbox" id="showPassword" onclick="myFunction()">
          </div>
        </div>
        <div class="form-row">
          <button class = "btn btn-primary" type="submit">Sign up</button>
        </div>
      </form>
    </div>

    <hr>
    <footer style="background-color: var(--color-background-light); padding: 20px; width: 100%;">
      <div style ="align-content: center;">
        <div>
          <span><i class="fas fa-copyright"></i> copyright All rights reserved.</span>  
          <p style="margin: 10px;">contact us <a href="mailto:legendtonystark1@gmail.com"><i class="fas fa-envelope"></i></a></p> 
        </div>
      </div>
    </footer>
  </body>
</html>

<script>
  function myFunction() {
    var x = document.getElementById("myInput1");
    var y = document.getElementById("myInput2");
    if (x.type === "password") {
      x.type = "text";
      y.type = "text";
    } else {
      x.type = "password";
      y.type = "password";
    }
  }
</script>