<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to our Digital Library</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/welcomePage.css">
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <h1 class="page-header">Welcome to Your Digital Library</h1>
      </div>
        <p>One place to store all you Docs</p>
      <div>
        <a class = "btn btn-primary" href="/login">Login</a>
        <a class = "btn btn-primary" href="/signup">Signup</a>
      </div>
  </body>
</html>
