<!DOCTYPE html>
<html>
  <head>
    <title>DigiLibrary</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/welcomePage.css">
  </head>
  <body>
    <div style="color: var(--color-background-light); margin-left: 10%;">
      <h1 class="page-header">Welcome to Your DigiLibrary</h1>
      <p>One place to <b>Smartly</b> Track all your Books</p>
      <div>
        <a class = "btn btn-primary" href="/login">Login</a>
        <a class = "btn btn-primary" href="/signup">Signup</a>
      </div>
    </div>
  </body>
</html>
