<!DOCTYPE html>
<html>
  <head>
    <title>DigiLibrary</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  </head>
  <header>
    <nav class="header-nav">
    <div class="form-row">
      <br>
      <button type="button" onclick="toggleTheme()" class="theme-toggle theme-button">
          <i class = "fas"></i>
      </button>
      <div style="margin-left: 20px" id="google_translate_element"></div>
    </div>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
    </ul>
</nav>
</header>
  <body>
    <script defer src="/javascripts/toggle.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
    function googleTranslateElementInit() {
    new google.translate.TranslateElement( 'google_translate_element');
    }
    window.onload = googleTranslateElementInit;
    </script>

    <div style="color: var(--color-text-dark); margin-left: 10%;">
      <h1 class="page-header">Welcome to Your <b>DigiLibrary The Second Brain </b> </h1>
      <p>One place to <b>Smartly</b> Track all your Readings</p>
      <!-- welcome cards -->
      <div class="welcome-cards-container">
        <!-- 0 -->
        <div class="card">
          <i class="fa fa-earth">
          </i>
          <hr>
          <p> Access Your Library From Anywhere </p>
        </div>

        <!-- 1 -->
        <div class="card">
          <i class="fa fa-pen">
          </i>
          <hr>
          <p> Add Anything Books, E-Books and Web Resources </p>
        </div>
        
        <!-- 2 -->
        <div class="card">
          <i class="fa fa-arrow-up-from-bracket">
          </i>
          <hr>
          <p> Update the Progress of Readings </p>
        </div>
        
        <!-- 2 -->
        <div class="card">
          <i class="fa fa-search">
          </i>
          <hr>
          <p> Advanced Seach and Filter on Readings, Notes, Authors... </p>
        </div>

        <!-- 2 -->
        <div class="card">
          <i class="fa fa-heart">
          </i>
          <hr>
          <p> Tag Favourite and Daily Readings to Be Consistent </p>
        </div>

        <!-- 3 -->
        <div class="card">
          <i class="fa fa-puzzle-piece">
          </i>
          <hr>
          <p> Track The Progress With Pictorial Graphs </p>
        </div>
        <!-- 4 -->
        <div class="card">
          <i class="fa fa-note-sticky">
          </i>
          <hr>
          <p> Take Notes of Your Readings with Voice and Markdown </p>
        </div>
        <!-- 5 -->
        <div class="card">
          <i class="fa fa-search-plus">
          </i>
          <hr>
          <p> Search in All your Notes, No Need to remember Where You Read </p>
        </div>
        <!-- 6 -->
        <div class="card">
          <i class="fa fa-ear-listen">
          </i>
          <hr>
          <p> Listen To Your Notes Anywhere, It's Your Podcast</p>
        </div>
        <!-- 6 -->
        <div class="card">
          <i class="fa fa-language">
          </i>
          <hr>
          <p> Want to Read In Another Language, Live Traslate for 130+ Languages</p>
        </div>
        <!-- 7 -->
        <div class="card">
          <i class="fa fa-copy">
          </i>
          <hr>
          <p> Want To share Your Notes Just Click and Copy  </p>
        </div>
        <!-- 8 -->
        <div class="card">
          <i class="fa fa-cloud-download">
          </i>
          <hr>
          <p> Want Notes Offline, Download the PDF with Dark / Light Theme </p>
        </div>
        <!-- 9 -->
        <div class="card">
          <i class="fa fa-moon">
          </i>
          <hr>
          <p> We Care Your Preference, Cool Dark and Bright Light Themes </p>
        </div>
        <!-- 10 -->
        <div class="card">
          <i class="fa fa-signing">
          </i>
          <hr>
          <p> Just Try It By Signing In and Enjoy your Smart Second Brain </p>
        </div>
      </div>


      <p class="page-header">Stay Tuned to <b>Upcoming Features... </b> </p>
      <!-- welcome cards -->
      <div class="welcome-cards-container">
        <!-- 1 -->
        <div class="card">
          <i class="fa fa-sun">
          </i>
          <hr>
          <p> Challenges Like Daily / Monthly for Readers</p>
        </div>
        <!-- 1 -->
        <div class="card">
          <i class="fa fa-sun">
          </i>
          <hr>
          <p> Social Platform For Readers to Connect and Share</p>
        </div>
        <!-- 1 -->
        <div class="card">
          <i class="fa fa-sun">
          </i>
          <hr>
          <p> Adding AI Buzz... prompt AI to Make Your Notes Insane </p>
        </div>
        <!-- 1 -->
        <div class="card">
          <i class="fa fa-sun">
          </i>
          <hr>
          <p>  Get Assessments on Your Notes, to test Yourself </p>
        </div>
        <!-- 1 -->
        <div class="card">
          <i class="fa fa-sun">
          </i>
          <hr>
          <p>  Notifications to Revise, to avoid Erasing it in Your Brain </p>
        </div>

        <!-- 1 -->
        <div class="card">
          <i class="fa fa-sun">
          </i>
          <hr>
          <p>  Completed a Book? Save Notes and Sell / Rent Book to Peers Near You </p>
        </div>
        
        <!-- 1 -->
        <div class="card">
          <i class="fa fa-sun">
          </i>
          <hr>
          <p>  Sooo on.... </p>
        </div>
      </div>
    </div>
    <hr>
    <footer style="background-color: var(--color-background-light); padding: 20px; width: 100%;">
      <div style ="align-content: center;">
        <div>
          <span><i class="fas fa-copyright"></i> copyright All rights reserved.</span>  
          <p style="margin: 10px;">contact us <a href="mailto:legendtonystark1@gmail.com"><i class="fas fa-envelope"></i></a></p> 
        </div>
      </div>
    </footer>

  </body>
</html>
