<div class="container">
    <h1 class="mb-4">New Chapter</h1>
    <form action="/files/notes" method="POST">
      <%- include('_form_fields') %>
      <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" id="cancelButton">Cancel</a>
        <button type="submit" class="btn btn-primary" id="saveButton" disabled>Save</button>
    </div>
    </form>
</div>

<script>
  document.getElementById('chapterNumber').addEventListener('input', function() {
    var currentChapterNumber = this.value;
    document.getElementById('saveButton').disabled = currentChapterNumber.trim() === '';;
  });
  document.getElementById('title').addEventListener('input', function() {
    var currentTitle = this.value;
    document.getElementById('saveButton').disabled = currentTitle.trim() === '';;
  });
  document.getElementById('description').addEventListener('input', function() {
    var currentDescription = this.value;
    document.getElementById('saveButton').disabled = currentDescription.trim() === '';;
  });
  document.getElementById('markdown').addEventListener('input', function() {
    var currentMarkdown = this.value;
    document.getElementById('saveButton').disabled = currentMarkdown.trim() === '';;
  });

  document.getElementById('cancelButton').addEventListener('click', function() {
    var shouldCancel = confirm('Are you sure you want to cancel? Any unsaved changes will be lost.');
    if (shouldCancel) {
      // Perform the cancel action, such as redirecting to the desired URL
      window.location.href = '/files/books/<%= bookId%>/notes';
    }
  });
</script>
