:root {
  --color-btn-primary-background: hsl(var(--color-base-hue), 100%, 83%);
  --color-btn-primary-background-dark: hsl(var(--color-base-hue), 100%, 73%);
  --color-btn-primary-text: hsl(var(--color-base-hue), 100%, 20%);
  --color-btn-primary-text-dark: hsl(var(--color-base-hue), 100%, 10%);

  --color-btn-secondary-background: hsl(calc(var(--color-base-hue) - 100), 100%, 83%);
  --color-btn-secondary-background-dark: hsl(calc(var(--color-base-hue) - 100), 100%, 73%);
  --color-btn-secondary-text: hsl(calc(var(--color-base-hue) - 100), 100%, 20%);
  --color-btn-secondary-text-dark: hsl(calc(var(--color-base-hue) - 100), 100%, 10%);

  --color-btn-google-background: blue;
  --color-btn-google-background-dark: skyblue;
  --color-btn-google-text: white;
  --color-btn-google-text-dark: black;

  --color-btn-border: black;
  --color-btn-danger-background: hsl(var(--color-danger-hue), 100%, 83%);
  --color-btn-danger-background-dark: hsl(var(--color-danger-hue), 100%, 73%);
  --color-btn-danger-text: black;
  --color-btn-danger-text-dark: black;
}

.btn {
  border: 1px solid var(--color-btn-border);
  border-radius: .5rem;
  padding: .5rem .5rem;
  font-size: 0.75rem;
  font-family: 'Gotham Rounded';
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn-row {
  display: flex;
  align-items: flex-start;
}

.btn-row > * {
  margin-left: 1rem;
}

.btn-row > *:first-child {
  margin-left: 0;
}

.btn-primary {
  color: var(--color-btn-primary-text);
  background-color: var(--color-btn-primary-background);
}

.btn-primary:hover {
  color: var(--color-btn-primary-text-dark);
  background-color: var(--color-btn-primary-background-dark);
}

.btn-secondary {
  color: var(--color-btn-secondary-text);
  background-color: var(--color-btn-secondary-background);
}

.btn-secondary:hover {
  color: var(--color-btn-secondary-text-dark);
  background-color: var(--color-btn-secondary-background-dark);
}

.btn-google {
  color: var(--color-btn-google-text);
  background-color: var(--color-btn-google-background);
}

.btn-google:hover {
  color: var(--color-btn-google-text-dark);
  background-color: var(--color-btn-google-background-dark);
}

.btn-danger {
  color: var(--color-btn-danger-text);
  background-color: var(--color-btn-danger-background);
}

.btn-danger:hover {
  color: var(--color-btn-danger-text-dark);
  background-color: var(--color-btn-danger-background-dark);
}

.btn-group {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn-group a {
  flex: 1 1 auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.profile-button {
  background: none;
  border: none;
  margin-left: 10px;
  margin-top: 12px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:  var(--color-text-light);
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px var(--color-background-light);
  padding: 12px;
  z-index: 1;
  border-radius: 5%;
}

.dropdown-content.show {
  display: block;
}

.dropdown-item {
  display: block;
  margin-bottom: 8px;
  text-decoration: none;
  color: #333;
}

.dropdown-item:last-child {
  margin-bottom: 0;
}
