.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: inherit;
    background-color: var(--color-text-light);
    color: var(--color-background-dark);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    font-size: xx-small;
    font-weight: lighter;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -18px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }