
<div class="container">
  <h1 class="mb-4">Edit chapter</h1>

  <form action="?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <div class="form-row form-row-end btn-row">
      <a href="/files/books/<%= bookId%>/notes" class="btn btn-danger">Cancel</a>
      <button type="submit" class="btn btn-primary">Save</button>
  </div>
  </form>
</div>
