<div class="form-row">
    <div class="form-item">
        <label class="required">Publisher/Platform Name</label>
        <input id="publisherName" type="text" name= "name" value="<%= publisher.name %>" required minlength="1" , maxlength="100" placeholder="1-100 charecters">
    </div>
</div>
