<h2 class="page-header">New Publisher/Platform</h2>
<form action="/files/publishers" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/files/publishers">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>